@using MTG.Services
@rendermode InteractiveServer
@using System.Linq
@page "/Card/{searchString}"

<h1>Card Page for @searchString</h1>
<div class="card-display">
    @if (selectedCard != null)
    {
        <img src="@selectedCard.Image" />
        <div class="card-details">
            <h3>@selectedCard.Name @selectedCard.CardCost</h3>
            <p>@selectedCard.CardText</p>
            
        </div>
        <div class="printing-details">
        <h3>Printings</h3>
        <ul class="card-list">
            @foreach (Search.CardModel card in myCards)
            {
                <li @onclick="() => SelectCard(card)">
                    @card.Name @card.SetCode
                </li>
            }
        </ul>
        </div>
    }
</div>
<br />
<button @onclick="() => AddCard()">Add to Deck</button>



